extends layout

block content
    if currentUser 
        if currentUser.isAdmin 
            p You're an admin, you don't need to view this page. Go to /admin instead.
        else 
            h1= title
            p Welcome to #{title}
            a(href="/account/update-account").navlink Update account info
            a(href="/account/view-history").navlink View game history
            block accountContent
    else 
        p You must log on to view this page
    