doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    #banner
      #login
        if !currentUser
          a(href="/sign-up") Click here to sign up
          br
          a(href="/log-in") Click here to log in
        if currentUser
          a(href="/log-out") Click here to log out
          br
          if currentUser.isAdmin 
            a(href="/admin") Click here to view your adminstrator page
          else 
            a(href="/account") Click here to view and edit your account settings
      #navbar 
        a(href="/birthdays").navlink Birthdays
        a(href="/arcade").navlink Arcade
        a(href="/events").navlink Events
        a(href="/leagues").navlink Leagues
        a(href="/faq").navlink FAQ
      #header
        a(href="/").title Acton Bowladrome & Arcade
        p.undertitle Come Play With Us!
      if !bookingGame
        #book-a-game 
          a(href="/book-game").navlink Book a Game

  body
    #content
      block content
    #footer
      p website designed by phil
