extends account 

block accountContent 
    form(action="", method="POST")
        br
        p Currently logged in as !{currentUser.username}
        label.firstName Your first name: 
        input(type="text", name="firstName", placeholder= "your first name")
        br
        br
        label.lastName Your last name: 
        input(type="text", name="lastName", placeholder= "your last name")
        br
        br
        label.shoeSize Your shoe size: 
        input(type="number", name="shoeSize", placeholder="your shoe size", step=".5")
        br
        br
        input(type="submit", value="Update Account")